h2
	font-size 1.8em !important
	text-align center
	&.title
		font-weight 700
		
body
	background purple
#masthead
	margin-bottom 0px
	padding-top 10px
	padding-bottom 10px
	position fixed
	width 100%
	border-bottom 1px solid rgba(black, .3)
	.col-full
		display flex
		justify-content space-between
.site-branding
	width 120px
	position relative
	img
		width 85%
		height auto
		display inline-block
.handheld-navigation
	width 100%
	background rgba(white, .95)
	position absolute
	top 60px
	left 0
	text-align center
	li
		a
			text-transform uppercase
button.menu-toggle
button.menu-toggle:hover
	border none !important
	&:focus
		outline none
.main-banner
	background rgba(gray, .5)
	width 100%
	height 300px
	display block
	background-repeat no-repeat
	background-size cover
	background-position center center
	overflow hidden
	margin-top 70px
.last-news-container
	margin 40px 0
.item-news
	margin-bottom 20px
	.inner-container
		border 1px solid rgba(black, .1)
		background rgba(black, .9)
		.image
			height 120px
			background-position center center
			background-size cover
			background-repeat no-repeat
			position relative
		.info
			padding 10px
			position relative
			.title
				font-size .9em
				margin-bottom 0
				a
					font-weight 700
					color white
.site-footer
	background-color rgba(black, .9) !important
	padding 15px 0
@media screen and (min-width: 375px)
	.site-branding
		width 120px !important
@media screen and (min-width: 768px)
	#masthead
		.col-full
			align-items center
	.main-navigation
		ul
			li
				&.current_page_item
					font-weight bold
					a
						color black !important
				a
					padding 1.3em .6em !important
					text-transform uppercase
	.site-branding
		width 140px
		margin-bottom 0 !important
		img
			width 95%
	#site-navigation
		margin-right 0
		.primary-navigation
			.menu
				text-align right
	.main-banner
		height 400px
		margin-top 85px
	.item-news
		margin-bottom 30px
		.inner-container
			.image
				height 130px
			.info
				.title
					font-size 1em
					height 40px
					line-height 1.2em
					overflow hidden
					a
						font-weight 700
						color white
	#secondary
		&.widget-area
			margin-top 60px !important
		.widget
			margin-bottom 0
			&.widget_categories
			&.widget_search
				margin-top 20px
				.widget-title
					text-transform uppercase
					font-weight 600
					margin-bottom 10px
					padding-bottom 0
					font-size 1.1em
		.widget_search
			form
				margin-bottom 0
				.search-field
					border 1px solid rgba(black, .3)
	.site-footer
		padding 15px 0 !important
		.site-info
			padding 15px 0 !important
@media screen and (min-width: 992px)
	.main-banner
		height 500px
@media screen and (min-width: 1200px)
	#secondary
		.widget
			margin-bottom 0
			.widget-title
				font-size 1.5em